#cat{
    font-size: 70px;
    color: darkgreen;
    font-family: 'Just Another Hand', cursive;
}

form {
    padding: 10px 50px 0px 50px;
    font-size: 25px;
    /* text-align: left; */
    align-items: center;
    margin: 20px;
    max-width: 100%;
    display: block;
    color: darkgreen;
    font-family: 'Just Another Hand', cursive;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 20px;
}

#userCatText_upper {
    text-align: center;
}

input[type=text] {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 20%;
}

input[type=file] {
    width: 160px;
    margin: 20px;
    cursor: pointer;
    font-family: 'Just Another Hand', cursive;
}

@media screen and (max-width: 600px) {
    input[type=file], input[type=text], input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

#userCatText_lower {
    text-align: center;
}

#userCatPicture {
    font-size: 25px;
    border-radius: 2px;
}

#memeText_upper {
    background-color: transparent;
    font-size: 40px;
    font-family: "Impact";
    color: white;
    text-shadow: black 0px 0px 10px;
    width: 600px;
    position: absolute;
    text-align: center;
    left: 450px; /*these values are not absolute*/
    top: 1280px; /*these values are not absolute*/
}

#memeText_lower {
    background-color: transparent;
    font-size: 40px;
    font-family: "Impact";
    color: white;
    text-shadow: black 0px 0px 10px;
    width: 600px;
    position: absolute;
    text-align: center;
    left: 450px; /*these values are not absolute*/
    top: 1700px; /*these values are not absolute*/
}

@media screen and (max-width:600px) {
    #memeText_lower, #memeText_upper {
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    #memePicture {
        width: 90%;
        height: auto;
        margin-top: 0;
    }
}